<div id="app-login">
	<div class="jumbotron">
		<h1><span class="glyphicon glyphicon-off"></span></h1>
		<p class="lead"><%= config.appName %> - Demo</p>
		<div class="sign-in">
			<form action="#" id="login" method="POST">
			    <input type="text" name="email" placeholder="Email" class="form-control" value="admin@webmanufaktur.de">
			    <input type="password" name ="password" placeholder="Passwort" class="form-control" value="574857323s">
			  	<input type="submit" class="btn-primary form-control" value="anmelden">
			</form>
		</div>
	</div>
</div>