<div id="support-overview">
	<div class="panel-wrapper col-md-6 ">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-wrench"></span>Support - Demo</h3>
			</div>
			<div class="panel-body">
				<p>Hier haben Sie die Möglichkeit Störungen aufzugeben oder bereits vorhandene Störungen zu bearbeiten. <b>Alle eingetragenen Demodaten werden einmal am Tag gelöscht</b>.</p>
				<div class="right">
					<a href="#support/add-ticket/" class="btn btn-primary" role="button">Störung aufgeben</a>
					<a href="#support/tickets/"  class="btn btn-primary" role="button">Alle Störungen</a>
					<!-- <a href="#support/add-ticket/" class="btn btn-danger btn-lg left" type="button">Störung aufgeben</a> -->
				</div>
			</div>
		</div>
	</div>
	<div class="panel-wrapper col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-stats"></span>Statistik - Demo</h3>
			</div>
			<div class="panel-body">
				<p>
					<div id="stats-container" style="width: 100%;"></div>
				</p>
				<div class="right">
					<button class="btn btn-primary disabled" role="button">benutzerdefiniert</button>
				</div>
			</div>
		</div>
	</div>
</div>
