<div id="ticket-overview">
	<div class="panel-wrapper col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-wrench"></span>Alle Störungen</h3>
				<select name="sort" class="sort selectpicker show-tick">
					<option value="all">Alle</option>
					<option data-divider="true"></option>
					<option value="open">Offen</option>
					<option value="in-progress">in Bearbeitung</option>
					<option value="closed">Erledigt</option>
				</select>
			</div>
			<div class="panel-body">
				<ul id="tickets">
					<!-- ticket items rendered here -->
				</ul>
			</div>
		</div>
	</div>
</div>